{% extends 'base.html' %}

{% block title %} Puzzle Answer {% endblock %}
{% block content %}


<div class="row form-group">

  <div class="col-md-6 register-form">

    <div>
      {% if success %}
        <h4 style="color:green"> Congratulations, you answer was correct </h4>
      {% endif %}

      <b>Total Clues: </b>{{total}}
      <b>Correct answers: </b> {{correct}}
    </div>
    <hr />

  {% if clue %}
  <div>
    <p> <b> Clue Text: </b> <i>{{ clue.clue_text }}</i></p>
  </div>
  {% endif %}

  {% if other_clues %}
    <h4 style="text-align: left"> Number of clues with entry: {{ clue.entry}}  </h4>
    <ol>
      {% for o_clue in other_clues %}
      <li> {{ o_clue.clue_text }} - {{ o_clue.puzzle }} </li>
      {% endfor %}
    </ol>
  {% endif %}

  {% if puzzles %}
  <h4> <u>Puzzles where Clue Text appeared: </u></h4>
  <ol>
    {% for puzzle in puzzles %}
    <li> <h5> {{ puzzle.byline }} by <i> {{ puzzle.publisher }} </i> on {{ puzzle.date }}  </h5></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div>
    <a class="btn btn-success" href="{% url 'drill' %}" > Next Clue > </a>
    <a class="btn btn-danger" href="{% url 'login' %}"> End Drill </a>
  </div>

</div>

{% endblock %}
