{% extends 'base.html' %}

{% block title %} Crossword Exercise {% endblock %}

{% block content %}
{% if random_clue %}

      <div class="row form-group">
     <div class="col-md-7">
       <form action="" method="post">

         <div>
          {% if repeat %}
          <h6 style="text-align: left; color:red">Wrong Answer</h6>
          {% endif %}
            <div>
              <b>Total Clues: </b>{{total}}
              <b>Correct answers: </b> {{correct}}
            </div>
          </div>
          <hr />

         <div>
         <h4><u>Clue:</u>  <i>" {{random_clue.clue_text}} "<i/></h4>
         </div>

         <div>
         {% csrf_token %}

         <div>
         <div class = "form-group" style="text-align: left">
           <i>Type in your guess below</i>
          {% for field in entry_form %}
           <div>{{field}}</div>
          {% endfor %}
          </div>

           <h6 style="text-align: left; color: #aaa"><b> Number of Entry words: </b> {{ random_clue.entry.entry_text|length }} </h6>
         </div>

          <button class="btn btn-primary" type= "submit">Submit Guess</button>
           {% if repeat is not True %}
           <a href="{% url 'drill' %}" class="btn btn-outline-secondary"> Skip > </a>
           {% endif %}
          <a class="btn btn-danger" href="{% url 'login' %}"> End Game </a>
         </div>

       </form>

       <div>
         <br/>

         {% if random_clue.puzzle %}
         <h4> <u>Puzzle where clue appeared: </u></h4>
         <ol>
           <li> <h5> {{ random_clue.puzzle.byline }} by <i> {{ random_clue.puzzle.publisher }} </i> on {{ random_clue.puzzle.date }}  </h5></li>
         </ol>
         {% endif %}

      </div>
       </div>

       <div  style="background-color: #e3f2fd; padding: 20px">
          <a class="btn btn-warning" href="{% url 'answer' %}"> View Solution </a>
          <i style="color:red; font-size: 12px">This escape option counts against your total score </i>
      </div>

     </div>

{% endif %}
{% endblock %}
